frontend/build/*
frontend/node_modules/*
frontend/.env
frontend/package-lock.json

backend/__pycache__/*
backend/input.wav

models/*

ai-voice-recorder/.next
ai-voice-recorder/node_modules
ai-voice-recorder/.env
ai-voice-recorder/package-lock.json